<!doctype html>
<title>Webshop</title>
<h1>Welcome to my Webshop!</h1>
<form action="/" method="post">
    <p>What Items do you want?</p>
    <label>Item 1</label>
    <input name="item-1" type="number" value="1" required/><br>
    <label>Item 2</label>
    <input name="item-2" type="number" value="0" required/><br>
    <label>Item 3</label>
    <input name="item-3" type="number" value="0" required/><br>
    <label>Item 4</label>
    <input name="item-4" type="number" value="1" required/><br>
    <label>Item 5</label>
    <input name="item-5" type="number" value="0" required/><br>
    
    <hr>
    
    <p>Contact information<p>
    
    <label>Name</label><br>
    <input name="name" type="text" required value="Daniel Lindholm"/><br>
    <label>Email</label><br>
    <input name="email" type="email" required value="mail@hupra.net"/><br>
    
    <hr>
    
    <p>Card Information<p>
    
    <label>Card Number</label><br>
    <input name="cardNumber" type="text" required value="4571000070531467"/><br>
    
    <label>Cvc</label><br>
    <input name="cvc" type="text" required value="775"/><br>
    
    
    <input type="submit" value="send"/>
</form>